**/dist
**/node_modules
**/.env

# Kubernetes & Deployment
deployment/terraform/.terraform/
deployment/terraform/terraform.tfstate
deployment/terraform/terraform.tfstate.backup
deployment/terraform/.terraform.lock.hcl
vercel.pem
origin.*
deployment/k8s/secrets/

deployment/supabase/terraform/.terraform
deployment/supabase/terraform/.terraform.lock.hcl
deployment/supabase/terraform/terraform.tfstate*

# Local env files used for secret generation
*.env.local
document.txt
user-data.txt